{% macro planguage_button_selector(planguage) %}
	{% if planguage == "Ruby" %}
        <button type="button" class="btn btn-danger btn-sm">Ruby</button>
    {% elseif planguage == "Python" %}
        <button type="button" class="btn btn-primary btn-sm">Python</button>
    {% elseif planguage == "Java" %}
        <button type="button" class="btn btn-success btn-sm">Java</button>
    {% else %}
        <button type="button" class="btn btn-default btn-sm">{{ planguage }}</button>
    {% endif %}   
{% endmacro %}