{% extends "base.html" %}
{% block content %}
{% import "macros/messages.html" as messages %}
  <h2>Modify Analysis</h2>

  {% if back_path %}
      <a href="{{ back_path }}" class="btn btn-default">Back</a>
  {% endif %}

  {% if errors %}
    {% for message in errors %}
      {{ messages.warning_message("#{message}") }}
    {% endfor %}
  {% endif %}

  <form method="post" action="{{base_path}}/algorithm/{{analysis.algorithm_id}}/analysis/edit/{{analysis.id}}">
    <div class="form-group">
      <input name="algorithm_id" type="hidden" class="form-control" value="{{ analysis.algorithm_id }}">
      <input name="contributor_id" type="hidden" class="form-control" value="{{ analysis.contributor_id }}">
      <input name="date" type="hidden" class="form-control" value="{{ analysis.date }}">
    </div>

    <div class="form-group">
      <label>Current Time Complexity</label>
      <p>{{ analysis.timecomplexity }}</p>
    </div>

    <div class="form-group">
      <label>Select Time Complexity Class:</label>
      <select class="form-control" style="width:20em" name="timecomplexity" type="text">
        <option value="O(1)">O(1) - Constant</option>
        <option value="O(logn)">O(logn) - Logarithmic</option>
        <option value="O(logn*)">O(logn*) - Amortized</option>
        <option value="O(n)">O(n) - Linear</option>
        <option value="O(n*)">O(n*) - Amortized</option>
        <option value="O(nlogn)">O(nlogn) - n-Logarithmic</option>
        <option value="O(n*logn)">O(nlogn) - Amortized</option>
        <option value="O(n^2)">O(n^2) - Squared</option>
        <option value="O(n*^2)">O(n*^2) - Amortized</option>
        <option value="O(n^3)">O(n^3) - Cubed</option>
        <option value="O(n*^3)">O(n^3) - Amortized</option>
        <option value="O(n^k)">O(n^k) - Polynomial</option>
        <option value="O(n*^k)">O(n^k) - Amortized</option>
        <option value="O(2^n^k)">O(2^n^k) - Non-det Polynomial</option>
        <option value="O(2^n*^k)">O(2^n^k) - Amortized</option>
        <option value="O(V*E)">O(V*E) - Graphs</option>
        <option value="O(ElogV)">O(ElogV) - Graphs</option>
        <option value="O(VlogV)">O(VlogV) - Graphs</option>
        <option value="O(V^2)">O(V^2) - Graphs</option>
        <option value="O(E^2)">O(E^2) - Graphs</option>
        <option value="O(VE^2)">O(VE^2) - Graphs</option>
      </select>
    </div>

    <div>
      <label>Choose Other: </label>
      <input name="timecomplexity_other" style="width:20em" type="text" class="form-control" value="{{ attributes.planguage }}"></text>
    </div>

     <div class="form-group">
      <label>Description: </label>
      <textarea name="description" style="height:20em" class="form-control">{{ analysis.description }}</textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
{% endblock %}