{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% import "macros/messages.html" as messages %}
{% import "macros/selectors.html" as selectors %}
  <div class='page-header'>
    <div class='btn-toolbar pull-right'>
      <div class='btn-group'>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ selected_planguage }}<span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          {% if selected_planguage != 'all' %}
            <li><a href="{{ base_path }}/algorithm/{{ algorithm.id }}/implementation/all">All</a></li>
          {% endif %}
          {% set implemented_languages = [] %}
          {% for implementation in implementations %}
            {% if not(implementation.planguage in implemented_languages) %}
              {% if implementation.planguage != selected_planguage %}
                {% set implemented_languages = [implemented_languages, implementation.planguage] %}
                  <li><a href="{{ base_path }}/algorithm/{{ algorithm.id }}/implementation/{{ implementation.planguage }}">{{ implementation.planguage }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      {% if user_logged_in %}
      <div class='btn-group'>
        <a href="{{ base_path }}/algorithm/{{ algorithm.id }}/new_implementation" class="btn btn-success">Add new implementation</a>
      </div>
      {% endif %}
    </div>

    <h2><strong>Algorithm: </strong>{{ algorithm.name }}</h2>
    <a href="{{base_path}}/algorithm/{{ algorithm.id }}" class="btn btn-default">Back</a>
  </div>

  {% if message %}
    {{ messages.success_message("#{message}") }}
  {% endif %}

  {% if errors %}
    {{ messages.warning_message("#{message}") }}
  {% endif %}

    <h3>Specifications</h3>             
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Class</th>
          <th>Time Complexity Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><font color="navy">{{algorithm.class}}</font></td>
          <td><font color="green"><u>{{algorithm.timecomplexity}}</u></font></td>
        </tr>
      </tbody>
    </table>
  
  {% if implementations %}

    <h3>Implementations</h3>
    {% for implementation in implementations %}
        <div class="bs-callout bd-callout-primary"> 
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Author</th>
                <th>Programming language</th>
                <th>Date added</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><button class="btn btn-primary btn-sm">{{ implementation.name }}</button></td>
                <td>
                  {% if implementation.planguage == "Ruby" %}
                      <a href="{{base_path}}/algorithm/{{algorithm.id}}/implementation/{{implementation.planguage}}" class="btn btn-danger btn-sm">{{implementation.planguage}}</a>
                    {% elseif implementation.planguage == "Python" %}
                      <a href="{{base_path}}/algorithm/{{algorithm.id}}/implementation/{{implementation.planguage}}" class="btn btn-primary btn-sm">{{implementation.planguage}}</a>
                    {% elseif implementation.planguage == "Java" %}
                      <a href="{{base_path}}/algorithm/{{algorithm.id}}/implementation/{{implementation.planguage}}" class="btn btn-success btn-sm">{{implementation.planguage}}</a>
                    {% else %}
                      <a href="{{base_path}}/algorithm/{{algorithm.id}}/implementation/{{implementation.planguage}}" class="btn btn-default btn-sm">{{implementation.planguage}}</a>
                  {% endif %}   
                </td>
                <td><font color="gray">{{ implementation.date }}</td>
              </tr>
            </tbody>
          </table>

        <div class="well">
            <font color="gray">{{ implementation.description }}</font>            
        </div> 
        {% if implementation.contributor_id == user_logged_in.id %}
          {{  forms.modify_algorithm_button("#{base_path}/algorithm/#{algorithm.id}/implementation/edit/#{implementation.id}") }}
          {{  forms.delete_button("#{base_path}/algorithm/#{algorithm.id}/implementation/delete/#{implementation.id}") }}
        {% endif %}
      </div> 
    {% endfor %}

  {% else %}
    {% if selected_planguage == 'all' %}
      <h4>Sorry, there are 0 implementations for this algorithm in the AlgorithmDB at the moment.</h4>
    {% else %}
      <h4>Sorry, there are no implementations in <strong>{{ selected_planguage }}</strong> for this algorithm in the AlgorithmDB.</h4>
    {% endif %}
    <a href="{{ base_path }}/algorithm/{{ algorithm.id }}/new_implementation" class="btn btn-success">Add one</a>
  {% endif %}
{% endblock %}