{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
    <h1>{{ algorithm.name }}</h1>
    <div>
      {% if user_logged_in.administrator %}
        {{forms.delete_button("#{base_path}/algorithm/#{algorithm.id}/deletealgo")}}
        {{forms.modify_algorithm_button("#{base_path}/algorithm/modify/#{algorithm.id}") }}
      {% endif %}
    </div>

    <ul>
      <li><strong>Class: </strong>{{algorithm.class}}</li>
      <li><strong>Time Complexity: </strong>{{algorithm.timecomplexity}}</li>
      <li><strong>Year: </strong>{{algorithm.year}}</li>
      <li><strong>Authors: </strong>{{algorithm.author}}</li>
      <li><strong>Similar algorithms: </strong> 
        {% for algo1 in algorithm.similar %}
          <a href="{{base_path}}/algorithm/{{algo1.id}}" class="btn btn-default">{{ algo1.name }}</a>
        {% endfor %}
      </li>
      <li><strong>Tags:</strong>
        {% for tagi in algorithm.tags %}
          <a href="{{base_path}}/tags/{{ tagi.id }}" class="btn btn-default-sm">{{ tagi.name }}</a>
        {% endfor %}
      </li>
      <li><strong>Implementations:</strong>
        {% for planguage in algorithm.implementations %}
              {% if planguage == "Ruby" %}
                <button type="button" class="btn btn-danger btn-sm">Ruby</button>
              {% elseif planguage == "Python" %}
                <button type="button" class="btn btn-primary btn-sm">Python</button>
              {% elseif planguage == "Java" %}
                <button type="button" class="btn btn-success btn-sm">Java</button>
              {% else %}
                <button type="button" class="btn btn-default btn-sm">{{ planguage }}</button>
              {% endif %}   
        {% endfor %}
      </li>
    </ul>
    {% if user_logged_in %}
      <p>
          <a href="#" class="btn btn-success">Add new implementation</a>
        </p>
      {% endif %}
      <h3>Description</h3>
      <p>{{algorithm.description}}</p>

      <h3>Time-Complexity Analyzes by User</h3>
      {% for analysis in algorithm.analyses %}
        <p>
            <strong><a href="#" class="btn btn-default">{{ analysis.name }}</a></strong>
        </p>
        <ul>  
          <li><strong>Time Complexity Class:</strong>{{ analysis.timecomplexity }}</li>
          <li><strong>Date:</strong>{{ analysis.date }}</li>
          <div class="well">
              {{ analysis.description }}            
          </div> 
        {% if analysis.contributor_id == user_logged_in.id %}
          {{  forms.modify_algorithm_button("#{base_path}/algorithm/#{algorithm.id}/analysis/edit/#{analysis.id}") }}
          {{  forms.delete_button("#{base_path}/algorithm/#{algorithm.id}/analysis/delete/#{analysis.id}") }}
        {% endif %}
        </ul> 
      {% endfor %}
    <div>
    {% if user_logged_in %}
      <a href="{{base_path}}/algorithm/{{algorithm.id}}/analysis/new" class="btn btn-success">Add new analysis</a>
    {% endif %}
    </div>
{% endblock %}