{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
    <h1>{{ algorithm.name }}</h1>
    <p>
      {% if administrator %}
        {{forms.delete_button("#{base_path}/algorithm/#{algorithm.id}/deletealgo")}}
        {{forms.modify_algorithm_button("#{base_path}/algorithm/modify/#{algorithm.id}") }}
      {% endif %}
    </p>

    <ul>
      <li><strong>Class:</strong>{{algorithm.class}}</li>
      <li><strong>Time Complexity:</strong>{{algorithm.timecomplexity}}</li>
      <li><strong>Year:</strong>{{algorithm.year}}</li>
      <li><strong>Authors:</strong>{{algorithm.author}}</li>
      <li><strong>Similar algorithms:</strong> 
        {% for algo1 in algorithm.similar %}
          <a href="{{base_path}}/algorithm/" class="btn btn-default">{{ algo1 }}</a>
        {% endfor %}
      </li>
      <li><strong>Tags:</strong>
        {% for tagi in algorithm.tags %}
          <a href="{{base_path}}/tags/{{ tagi }}" class="btn btn-default">{{ tagi }}</a>
        {% endfor %}
      </li>
      <li><strong>Implementations:</strong>
        {% for planguage in algorithm.implementations %}
              {% if planguage == "Ruby" %}
                <button type="button" class="btn btn-danger btn-sm">Ruby</button>
              {% elseif planguage == "Python" %}
                <button type="button" class="btn btn-primary btn-sm">Python</button>
              {% elseif planguage == "Java" %}
                <button type="button" class="btn btn-success btn-sm">Java</button>
              {% else %}
                <button type="button" class="btn btn-default btn-sm">{{ planguage }}</button>
              {% endif %}   
        {% endfor %}
      </li>
    </ul>
    {% if user %}
      <p>
          <a href="#" class="btn btn-success">Add new implementation</a>
        </p>
      {% endif %}
      <p>{{algorithm.description}}</p>

      <h2>Time-Complexity Analyzes by User</h2>
      {% for analysis in algorithm.analyses %}
        <p>
            <strong><a href="#" class="btn btn-default">{{ analysis.name }}</a></strong>
        </p>
        <ul>  
          <li><strong>Time Complexity Class:</strong>{{ analysis.timecomplexity }}</li>
          <li><strong>Date:</strong>{{ analysis.date }}</li>
          <div class="well">
              {{ analysis.description }}            
          </div>
        </ul>  
        {% if user %}
          {{  forms.modify_algorithm_button("#{base_path}/analysis/modify/#{analysis.id}") }}
        {% endif %}
      {% endfor %}
      <a href="#" class="btn btn-success">Add new analysis</a>
    {% endif %}
{% endblock %}