{% extends "base.html" %}
{% block content %}
  <h2>Modify Algorithm</h2>

  {% if errors %}
    {% for message in errors %}
      {{ messages.warning_message("#{message}") }}
    {% endfor %}
  {% endif %}

  <form method="post">
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="name" class="form-control" value={{ algorithm.name }}>
    </div>

    <div class="form-group">
      <label>Current Class</label>
      <p>{{ algorithm.class }}</p>
    </div>

    <div class="form-group">
      <label>Select Another Class</label>
      <select class="form-control" name="class" type="text">
        {% for class1 in params.classes %}  
          <option>{{ class1 }}</option>
        {% endfor %}
      </select>
    </div>
    
    <div class="form-group">
      <label>Current Time Complexity</label>
      <p>{{ algorithm.timecomplexity }}</p>
    </div>

    <div class="form-group">
      <label>Select Another Time Complexity Class:</label>
      <select class="form-control" name="timecomplexity" type="text">
        <option value="O(1)">O(1) - Constant</option>
        <option value="O(logn)">O(logn) - Logarithmic</option>
        <option value="O(logn*)">O(logn*) - Amortized</option>
        <option value="O(n)">O(n) - Linear</option>
        <option value="O(n*)">O(n*) - Amortized</option>
        <option value="O(nlogn)">O(nlogn) - n-Logarithmic</option>
        <option value="O(n*logn)">O(nlogn) - Amortized</option>
        <option value="O(n^2)">O(n^2) - Squared</option>
        <option value="O(n*^2)">O(n*^2) - Amortized</option>
        <option value="O(n^3)">O(n^3) - Cubed</option>
        <option value="O(n*^3)">O(n^3) - Amortized</option>
        <option value="O(n^k)">O(n^k) - Polynomial</option>
        <option value="O(n*^k)">O(n^k) - Amortized</option>
        <option value="O(2^n^k)">O(2^n^k) - Non-det Polynomial</option>
        <option value="O(2^n*^k)">O(2^n^k) - Amortized</option>
        <option value="O(V*E)">O(V*E) - Graphs</option>
        <option value="O(V^2)">O(V^2) - Graphs</option>
        <option value="O(E^2)">O(E^2) - Graphs</option>
        <option value="O(VE^2)">O(VE^2) - Graphs</option>
      </select>
    </div>

    <div class="form-group">
      <label>Year:</label>
      <input type="text" name="year" class="form-control" value={{ algorithm.year }}>
    </div>
    <div class="form-group">
      <label>Authors:</label>
      <input type="text" class="form-control" name="author" value={{ algorithm.author }}>
    </div>

     <table class="table table-striped table-bordered">
    <thead>
      <tr>Linked Algorithms:</tr>
      <tr></tr>
    </thead>

    <tbody>
      {% for s_algo in params.similar %}
        <tr>
          <td><{{s_algo.name}}</a></td>
          <td><<form method="post" action="{{base_path}}/algorithm/{{ algorithm.id }}/delete_link/{{ s_algo.id }}" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Remove link</button>
      </form></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

    <div class="form-group">
      <label>Select Other Similar Algorithms:</label>
      <select multiple class="form-control" name="similar[]">
        {% for algo1 in params.algorithms %}  
          <option>{{ algo1.name }}</option>
        {% endfor %}
      </select>
    </div>

     <div class="form-group">
      <label>Description: </label>
      <textarea name="description" class="form-control">{{ algorithm.description }}</textarea>
    </div>

    <div class="form-group">
      <label>Tags: </label>
      <input name="tags[]" class="form-control"
                   value={% for tag in params.tags %}{{tag}}", "{% endfor %} data-role="tagsinput" />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
{% endblock %}