{% import "macros/forms.html" as forms %}
{% import "macros/messages.html" as messages %}
{% extends "base.html" %}
{% block content %}
  <h1>Algorithms</h1>
  
  {% if message %}
    {{ messages.success_message("#{message}") }}
  {% endif %}

  {% if administrator %}
    <p>
      <a href="{{base_path}}/algorithm/new" class="btn btn-success">
      Add new algorithm</a>
    </p>
  {% endif %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Time Complexity</th>
        <th>Available implementations</th>
      </tr>
    </thead>

    <tbody>
      {% for algorithm in algorithms %}
        <tr>
          <td><a href="{{base_path}}/algorithm/{{algorithm.id}}">{{algorithm.name}}</a></td>
          <td>{{algorithm.class}}</td>
          <td>{{algorithm.timecomplexity}}</td>
          <td>
            {% for planguage in algorithm.implementations %}
              {% if planguage == "Ruby" %}
                <button type="button" class="btn btn-danger btn-sm">Ruby</button>
              {% elseif planguage == "Python" %}
                <button type="button" class="btn btn-primary btn-sm">Python</button>
              {% elseif planguage == "Java" %}
                <button type="button" class="btn btn-success btn-sm">Java</button>
              {% else %}
                <button type="button" class="btn btn-default btn-sm">{{ planguage }}</button>
              {% endif %}   
            {% endfor %}
          </td>
          <th>
          {% if user_logged_in %}
            {{forms.modify_algorithm_button("#{base_path}/algorithm/modify/#{algorithm.id}") }}
          {% endif %}
          </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}